<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="restAssured" verbose="2" data-provider-thread-count="1">
   <!--  <listeners>
        <listener class-name="com.shashankkumar.reporterd.BDDReporterListener"></listener>
    </listeners>  -->
    <test  name="API Test">
        <classes>
            <class name="com.shashankkumar.runner.ServiceRunner"/>
        </classes>
    </test>
</suite>